<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"/>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Panel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<!--Шапка-->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div th:object="${user}">
      <a class="navbar-brand">
        <strong th:text="*{email}" th:font="bold"></strong>
        with roles:
        <span th:text="*{getStringRoles()}"></span>
      </a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" href="/login?logout">Logout</a>
    </div>
  </div>
</nav>
<!--Шапка-->

<!--Тело-->
<div class="container-fluid">
  <div class="row">
    <!--Навигация-->
    <div class="col-2 pt-3 g-0">
      <!DOCTYPE html>
      <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
            xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <head>
        <title>User Page</title>
      </head>
      <body>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div th:object="${user}">
            <a class="navbar-brand">
              <strong th:text="*{email}" th:font="bold"></strong>
              with roles:
              <span th:text="*{getStringRoles()}"></span>
            </a>
          </div>
          <div class="navbar-nav">
            <a class="nav-link" href="/login?logout">Logout</a>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 pt-3 g-0">
            <div class="container-fluid">
              <div class="nav flex-column nav-pills" role="tablist">
                <a class="nav-link active" data-bs-toggle="pill" href="#"
                   role="tab">User</a>
              </div>
            </div>
          </div>
          <div class="col-sm-10 bg-light min-vh-100 pt-3">
            <div class="container-fluid">
              <h1>User information-page</h1>
              <div class="card">
                <div class="card-header">
                  <h5><span class="align-middle">About user</span></h5>
                </div>
                <div class="card-body table-responsive">
                  <hr style="color: gray"/>
                  <table class="table table-striped ">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Age</th>
                      <th>Email</th>
                      <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getLastname()}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getStringRoles()}"></td>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </body>
      </html>